<!-- contato.html -->

<!-- contato.html -->
<div class="width-100-l text-c height-100" id="historico-formulario">
	<div class="width-100-l">
        <img src="img/logo-home.png" alt="Clínica Dr. Josenildo Rodrigues" class='logo-home'/>
	</div>
    <div class="width-80 margin-auto">
        <div class="titulo-principal">
            <h1 class="titulo-formularios">
            	Lista de cadastros
				<span class="float-r" ng-click="carregarDados()" style="font-size: 11px; color: #FFF; background-color: #0B87B5; padding: 9px 12px; margin: -3px 11px 0 0;">Atualizar Lista</span>
            </h1>
        </div>
    </div>
	<div class="width-80 margin-auto lista-cadastros">
		<div class="width-100-l cadastro">
            <div class="width-25-l"><b>Nome</b></div>
            <div class="width-25-l"><b>Data</b></div>
            <div class="width-25-l">&nbsp;</div>
            <div class="width-25-l"><span class=""><b>Status</b></span></div>
        </div>
        <div class="width-100-l cadastro" ng-repeat="row in rows">
            <div class="width-25-l">{{ row.values.usuario.nome }}&nbsp;</div>
            <div class="width-25-l">{{ row.date }}</div>
            <div class="width-25-l">&nbsp;</div>
            <div class="width-25-l" ng-if="row.status">
            	<span class="" style="color:green">Enviado</span>
			</div>
            <div class="width-25-l" ng-if="!row.status" ng-click="enviarDado(row.id)">
            	<span class="" style="color:red;  background-color: #21B50B; padding: 6px;">Clique para enviar</span>
			</div>
        </div>
		<div class="width-100-l">
			&nbsp;<div />
			&nbsp;<div />
			&nbsp;<div />
			&nbsp;<div />
			&nbsp;<div />
			&nbsp;<div />
		</div>
	</div>
</div>