<!-- contato.html -->

<!-- contato.html -->
<div class="width-100-l text-c height-100" id="historico-formulario">
	<div class="width-100-l">
        <img src="img/logo-home.png" alt="Clínica Dr. Josenildo Rodrigues" class='logo-home'/>
	</div>
    <div class="width-80 margin-auto">
        <div class="titulo-principal">
            <h1 class="titulo-formularios">Lista de cadastros</h1>
        </div>
    </div>
	<div class="width-80 margin-auto lista-cadastros">
		<div class="width-100-l cadastro">
            <div class="width-25-l"><b>Nome</b></div>
            <div class="width-25-l"><b>Data</b></div>
            <div class="width-25-l">&nbsp;</div>
            <div class="width-25-l"><span class=""><b>Status</b></span></div>
        </div>
        <div class="width-100-l cadastro" ng-repeat="row in rows">
            <div class="width-25-l">{{ row.values.usuario.nome }}</div>
            <div class="width-25-l">15/03/2015</div>
            <div class="width-25-l">&nbsp;</div>
            <div class="width-25-l" ng-if="row.status"><span class="">Enviado</span></div>
            <div class="width-25-l" ng-if="!row.status"><span class="">Enviar</span></div>
        </div>
	</div>
</div>