<!-- contato.html -->
<div class="width-100-l text-c height-100">
	<div class="width-100-l">
		<h1>cadastro formulario</h1>
	</div>
	<div class="width-80 margin-auto border-red ">
		<div class="width-100-l border-red ">
			<div><input type="text" name="nome"     placeholder="Nome"/></div>
			<div><input type="text" name="endereco" placeholder="Endereço"/></div>
		</div>
		<div class="width-50-l border-red ">
			<div><input type="text" name="cep"    placeholder="CEP"/></div>
			<div><input type="text" name="cidade" placeholder="Cidade"/></div>
		</div>
		<div class="width-50-l border-red ">
			<div><input type="text" name="bairro" placeholder="Bairro"/></div>
			<div><input type="text" name="estado" placeholder="Estado"/></div>
		</div>
		<div class="width-50-l border-red ">
			<div><input type="text" name="nascimento" placeholder="Tada nascimento"/></div>
			<div><input type="text" name="email"      placeholder="Email"/></div>
		</div>
		<div class="width-50-l border-red ">
			<div><input type="text" name="telefone" placeholder="Telefone"/></div>
			<div><input type="text" name="celular"  placeholder="Celular"/></div>
		</div>
		<div class="width-50-l border-red ">
			<div><input type="text" name="whatsapp" placeholder="Whatsapp"/></div>
		</div>
		<div class="width-100-l border-red ">
			<div class="width-50-l border-red ">
				<h1>Como você gostaria de receber informações da clínica ?</h1>
			</div>
			<div class="width-50-l border-red ">
				<div class="width-25-l border-red ">a</div>
				<div class="width-25-l border-red ">a</div>
				<div class="width-25-l border-red ">a</div>
				<div class="width-25-l border-red ">a</div>
			</div>
		</div>
		<div class="btn-novo-cadastro float-l" ng-click="historicoFormulario()">
			Histórico Formulário >>
		</div>
	</div>
</div>