<!-- contato.html -->

<!-- contato.html -->
<div class="width-100-l text-c height-100" id="habitos-formulario">
	<div class="width-100-l">
        <img src="img/logo-home.png" alt="Clínica Dr. Josenildo Rodrigues" class='logo-home'/>
	</div>
    <div class="width-80 margin-auto">
        <div class="titulo-principal">
            <h1 class="titulo-formularios">Hábitos</h1>
        </div>
    </div>
	<div class="width-80 margin-auto">
		
		<div class="width-100-l back-white-margin padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Você sempre usa filtro solar? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="checkbox" value="habitos-filtro" id="squaredFour" name="check" checked />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="checkbox" value="habitos-filtro" id="squaredFour" name="check"  />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
			</div>
		</div>
        
        
        <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Faz uso de cosméticos? </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="habitos-cosmeticos" id="squaredFour" name="check" checked />
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="habitos-cosmeticos" id="squaredFour" name="check"  />
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
        
        <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Você se expoe ao sol diariamente? </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="habitos-sol" id="squaredFour" name="check" checked />
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="habitos-sol" id="squaredFour" name="check"  />
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
         <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Tabagismo? </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="habitos-tabagismo" id="squaredFour" name="check" checked />
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="habitos-tabagismo" id="squaredFour" name="check"  />
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Já fez tratamentos estético anterior? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="checkbox" value="habitos-tratamento" id="squaredFour" name="check" checked />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="checkbox" value="habitos-tratamento" id="squaredFour" name="check"  />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l width-768-100l">
                    <div><input type="text" name="habitos-tratamento-quais"      placeholder="Quais?" class="input-100-l input-97"/></div>
                </div>
			</div>
		</div>
        
		<div class="btn-novo-cadastro float-l btn-back-color" ng-click="tratamentosFormulario()">
            <div class="btn-formulario">Tratamentos</div>
		</div>
	</div>
</div>