<!-- contato.html -->
<div class="width-100-l text-c height-100" id="habitos-formulario">
   <!--  <div class="width-80 margin-auto">
        <div class="titulo-principal">
            <h1 class="titulo-formularios">Hábitos</h1>
        </div>
    </div> -->
	<div class="width-80 margin-auto">
		
		<div class="width-100-l back-white-margin padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Você sempre usa filtro solar? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" name="habitos-filtro" ng-model="habito.filtro"/>
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" name="habitos-filtro" ng-model="habito.filtro"  />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
			</div>
		</div>
        
        
        <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Faz uso de cosméticos? </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="radio" value="1" name="habitos-cosmeticos" ng-model="habito.cosmetico" />
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="radio" value="0" name="habitos-cosmeticos" ng-model="habito.cosmetico" />
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
        
        <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Você se expõe ao sol diariamente? </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="radio" value="1" name="habitos-sol" ng-model="habito.sol"/>
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="radio" value="0" name="habitos-sol" ng-model="habito.sol"/>
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
         <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Tabagismo? </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="radio" value="1" name="habitos-tabagismo" ng-model="habito.tabagismo"/>
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="radio" value="0" name="habitos-tabagismo" ng-model="habito.tabagismo"/>
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Já fez tratamentos estético anterior? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" name="habitos-tratamento" ng-model="habito.tratamento_anterior"/>
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" name="habitos-tratamento" ng-model="habito.tratamento_anterior"/>
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l width-768-100l">
                    <div  ng-show="habito.tratamento_anterior">
                        <input type="text" name="habitos-tratamento-quais" placeholder="Quais?" class="input-100-l input-97" ng-model="habito.tratamento_anterior_valor"/>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="btn-novo-cadastro width-100-l" ng-click="tratamentosFormulario(habito)">
		<div class="btn-formulario  width-95 margin-auto">Agora falta pouco, são as ultimas perguntas</div>
	</div>
</div>