<!-- contato.html -->
<div class="width-100-l text-c height-100" id="historico-formulario">
    <!-- 
	   <div class="width-80 margin-auto">
			<div class="titulo-principal">
				<h1 class="titulo-formularios">Histórico Clínico</h1>
			</div>
		</div> 
    -->
	<div class="width-80 margin-auto">
        <div class="width-100-l back-white-margin padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Está com algum medicamento em uso ? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" name="historico-medicamento" ng-model="historico.medicamento" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" name="historico-medicamento" ng-model="historico.medicamento"/>
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l  width-768-100l">
                    <div ng-show="historico.medicamento">
                        <input type="text" name="historico-medicamento-tipo"  placeholder="Qual?" class="input-100-l input-97" ng-model="historico.medicamento_valor"/>
                    </div>
                </div>
			</div>
		</div>
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Tem antecedentes alérgicos? </h1>
			</div>
			<div class="width-50-l width-640-px">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" name="historico-alergia" ng-model="historico.alergia" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" name="historico-alergia" ng-model="historico.alergia" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l width-768-100l">
                    <div ng-show="historico.alergia">
                        <input type="text" name="historico-alergia-tipo" placeholder="Qual?" class="input-100-l input-97" ng-model="historico.alergia_valor"/>
                    </div>
                </div>
			</div>
		</div>
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Possui alterações cardíacas? </h1>
			</div>
			<div class="width-50-l width-640-px  width-768-50l">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" name="historico-cardiaco" ng-model="historico.cardiaco" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" name="historico-cardiaco" ng-model="historico.cardiaco" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l width-768-100l">
                    <div ng-show="historico.cardiaco">
                        <input type="text" name="historico-cardiaco-tipo" placeholder="Quais?" class="input-100-l input-97" ng-model="historico.cardiaco_valor"/>
                        </div>
                </div>
			</div>
		</div>
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Possui distúrbios hormonais? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" name="historico-hormonais" ng-model="historico.hormonais" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" name="historico-hormonais" ng-model="historico.hormonais" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l width-768-100l">
                    <div ng-show="historico.hormonais">
                        <input type="text" name="historico-hormonais-tipo" placeholder="Quais?" class="input-100-l input-97" ng-model="historico.hormonais_valor"/>
                    </div>
                </div>
			</div>
		</div>
        
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Você está em tratamento medico Atual? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" name="historico-tratamento" ng-model="historico.tratamento_atual" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" name="historico-tratamento" ng-model="historico.tratamento_atual" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
			</div>
		</div>
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Tem hipertensão arterial? </h1>
			</div>
			<div class="width-50-l width-640-px">
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" name="historico-hipertensao" ng-model="historico.hipertensao" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" name="historico-hipertensao" ng-model="historico.hipertensao" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
			</div>
		</div>
        
          <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">É diabético? </h1>
			</div>
			<div class="width-50-l width-640-px">
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" name="historico-diabetico" ng-model="historico.diabetico" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-50-l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" name="historico-diabetico" ng-model="historico.diabetico" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
			</div>
		</div>      
  
        
          <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">E algum outro informações de histórico clínico? </h1>
			</div>
			<div class="width-50-l width-640-px ">
                <div class="width-100-l ">
                    <textarea name="historico-clinico"  class="textarea-form" placeholder="Outras informações" ng-model="historico.clinico"></textarea>
                </div>
			</div>
		</div>
	</div>
	<div class="btn-novo-cadastro width-100-l" ng-click="habitosFormulario(historico)">
		<div class="btn-formulario  width-95 margin-auto">Como estão seus hábitos?</div>
	</div>
</div>