<!-- contato.html -->

<!-- contato.html -->
<div class="width-100-l text-c height-100">
	<div class="width-100-l">
        <img src="img/logo-home.png" alt="Clínica Dr. Josenildo Rodrigues" class='logo-home'/>
	</div>
    <div class="width-80 margin-auto">
        <div class="titulo-principal">
            <h1 class="titulo-formularios">Histórico Clínico</h1>
        </div>
    </div>
	<div class="width-80 margin-auto">
		
        <div class="width-100-l back-white-margin padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Está com algum medicamento em uso ? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" id="squaredFour" name="historico-medicamento" ng-model="historicoMedicamentoValor" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" id="squaredFour" name="historico-medicamento" ng-model="historicoMedicamentoValor" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l  width-768-100l">
                    <div><input type="text" name="historico-medicamento-tipo"  placeholder="Qual?" class="input-100-l input-97" value="{{ historicoMedicamentoTipoValor }}"/></div>
                </div>
			</div>
		</div>
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Tem antecedentes alérgicos? </h1>
			</div>
			<div class="width-50-l width-640-px">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" id="squaredFour" name="historico-alergia" ng-model="historicoAlergiaValor" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" id="squaredFour" name="historico-alergia" ng-model="historicoAlergiaValor" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l width-768-100l">
                    <div><input type="text" name="historico-alergia-tipo"      placeholder="Quais?" class="input-100-l input-97" value="{{ historicoAlergiaTipoValor }}"/></div>
                </div>
			</div>
		</div>
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Possui alterações cardíacas? </h1>
			</div>
			<div class="width-50-l width-640-px  width-768-50l">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" id="squaredFour" name="historico-cardiaco" ng-model="historicoCardiacoValor" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" id="squaredFour" name="historico-cardiaco" ng-model="historicoCardiacoValor" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l width-768-100l">
                    <div><input type="text" name="historico-cardiaco-tipo"      placeholder="Quais?" class="input-100-l input-97" value="{{ historicoCardiacoTipoValor }}"/></div>
                </div>
			</div>
		</div>
        
          <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Possui distúrbios hormonais? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" id="squaredFour" name="historico-hormonais" ng-model="historicoHormonaisValor" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" id="squaredFour" name="historico-hormonais" ng-model="historicoHormonaisValor" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
                <div class="width-50-l width-768-100l">
                    <div><input type="text" name="historico-hormonais-tipo"      placeholder="Quais?" class="input-100-l input-97" value="{{ historicoHormonaisTipoValor }}"/></div>
                </div>
			</div>
		</div>
        
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Você está em tratamento medico Atual? </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" id="squaredFour" name="historico-tratamento" ng-model="historicoTratamentoValor" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" id="squaredFour" name="historico-tratamento" ng-model="historicoTratamentoValor" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
			</div>
		</div>
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Tem hipertensão arterial? </h1>
			</div>
			<div class="width-50-l width-640-px">
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" id="squaredFour" name="historico-hipertensao" ng-model="historicoHipertensaoValor" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" id="squaredFour" name="historico-hipertensao" ng-model="historicoHipertensaoValor" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
			</div>
		</div>
        
          <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">É diabético? </h1>
			</div>
			<div class="width-50-l width-640-px">
				<div class="width-50-l ">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="1" id="squaredFour" name="historico-diabetico" ng-model="historicoDiabeticoValor" />
                          <label for="squaredFour">Sim</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-50-l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="radio" value="0" id="squaredFour" name="historico-diabetico" ng-model="historicoDiabeticoValor" />
                          <label for="squaredFour">Não</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
			</div>
		</div>      
  
        
          <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">E algum outro informações de histórico clínico? </h1>
			</div>
			<div class="width-50-l width-640-px ">
                <div class="width-100-l ">
                    <textarea name="historico-clinico"  class="textarea-form" placeholder="Outras informações">{{ historicoClinicoValor }}</textarea>
                </div>
			</div>
		</div>
        
		<div class="btn-novo-cadastro float-l btn-back-color" ng-click="habitosFormulario()">
            <div class="btn-formulario">Hábitos</div>
		</div>
	</div>
</div>