<!-- contato.html -->
<div class="width-100-l text-c height-100">
    <div class="width-100-l">
        <img src="img/logo-home.png" alt="Clínica Dr. Josenildo Rodrigues" class='logo-home' />
        <div class="btn-novo-cadastro float-l" ng-click="novoCadastro()">
            <div class="btn-formulario">Olá, você pode nos responder algumas rápidas perguntas</div>
        </div>
    </div>
</div>

<div ng-include="'views/cadastro_formulario.html'" ng-show="page.cadastro"></div>
<div ng-include="'views/historico_formulario.html'" ng-show="page.historico"></div>
<div ng-include="'views/habitos_formulario.html'" ng-show="page.habitos"></div>
<div ng-include="'views/tratamentos_formulario.html'" ng-show="page.tratamentos"></div>
<div ng-include="'views/tratamentos_lista.html'" ng-show="page.tratamentosLista"></div>