<!-- contato.html -->
<div class="width-100-l text-c height-100" id="tratamentos-formulario">
	<!-- <div class="width-80 margin-auto">
        <div class="titulo-principal">
            <h1 class="titulo-formularios">Formulário - Tratamentos</h1>
        </div>
    </div> -->
	<div class="width-80 margin-auto">

		<div class="width-100-l back-white-margin padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Já fez depilação a Laser?  </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l ">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="1" name="depilacao-laser" ng-model="tratamento.depilacao" />
							<label for="squaredFour">Sim</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-25-l ">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="0" name="depilacao-laser" ng-model="tratamento.depilacao" />
							<label for="squaredFour">Não</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-50-l ">
					Conhece nossos tratamentos de depilação a Laser
				</div>
			</div>
		</div>

		<div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Você gostaria de conhecer os beneficios da toxina botulínica?  </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l ">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="1" name="toxina" ng-model="tratamento.toxina" />
							<label for="squaredFour">Sim</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-25-l ">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="0" name="toxina" ng-model="tratamento.toxina" />
							<label for="squaredFour">Não</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-50-l ">
					Conhece nossos tratamentos com toxina botulinica
				</div>
			</div>
		</div>


		<div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Já realizou ou conhece o tratamento com preenchimento?  </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l ">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="1" name="tratamento-preenchimento" ng-model="tratamento.preenchimento" />
							<label for="squaredFour">Sim</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-25-l ">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="0" name="tratamento-preenchimento" ng-model="tratamento.preenchimento" />
							<label for="squaredFour">Não</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-50-l ">
					Conhece nossos tratamentos com preenchimento
				</div>
			</div>
		</div>


		<div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px">
				<h1 class="texto-int-form">Você já conhece nossas técnicas de rejuvenescimento facial a laser?  </h1>
			</div>
			<div class="width-50-l width-640-px ">
				<div class="width-25-l ">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="1" name="rejuvenescimento" ng-model="tratamento.rejuvenescimento" />
							<label for="squaredFour">Sim</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-25-l ">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="0" name="rejuvenescimento" ng-model="tratamento.rejuvenescimento" />
							<label for="squaredFour">Não</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-50-l ">
					Conheça nossas técnicas
				</div>
			</div>
		</div>


		<div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Você gostaria de fazer tratamentos estéticos? </h1>
			</div>
			<div class="width-50-l width-640-px ">

				<div class="width-25-l width-768-50l border-white"></div>

				<div class="width-25-l width-768-50l">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="1" name="tratamento-estetico" ng-model="tratamento.estetico" />
							<label for="squaredFour">Facial</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-25-l width-768-50l">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="2" name="tratamento-estetico" ng-model="tratamento.estetico" />
							<label for="squaredFour">Corporal</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>
				<div class="width-25-l width-768-50l">
					<section title=".squaredFour">
						<!-- .squaredFour -->
						<div class="squaredFour">
							<input type="radio" value="3" name="tratamento-estetico" ng-model="tratamento.estetico" />
							<label for="squaredFour">Nenhum</label>
						</div>
						<!-- end .squaredFour -->
					</section>
				</div>

			</div>
		</div>
	</div>
	<div class="btn-novo-cadastro width-100-l" ng-click="cadastrar()">
		<div class="btn-formulario  width-95 margin-auto">Concluir questionário</div>
	</div>
	<div class="width-100-l" style="font-size:25px; color: #0b87b5" ng-if="dadosEnviados">
		Obrigado por responder o questionário
	</div>
	<div class="btn-novo-cadastro width-100-l" ng-click="tratamentosLista(tratamento)">
		<div class="btn-formulario  width-95 margin-auto">
			Conheça nossos tratamentos e fique a vontade para tirar todas suas duvidas
		</div>
	</div>
	<div class="width-100-l">&nbsp;</div>
	<div class="width-100-l">&nbsp;</div>
	<div class="width-100-l">&nbsp;</div>
	<div class="width-100-l">&nbsp;</div>
</div>