<!-- contato.html -->
<div class="width-100-l text-c height-100" id="tratamentos-lista">
    <!-- 
       <div class="width-80 margin-auto">
			<div class="titulo-principal">
				<h1 class="titulo-formularios">Lista de tratamentos</h1>
			</div>
		</div> 
     -->
    <div class="width-80 margin-auto">
        <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form font-bold" onclick="abre_tratamento()">Estética Facial  </h1>
                </div>
            <div id="conteudo_tratamentos">
                <div class="lista-tratamentos">
                    <div class="back_branco_0 branco" onclick="abre(0)">
                        <div class="titulo_conteudo_tratamento">
                            <span class="nome-tratamento">
                            	Toxina Botulínica (botox, dysport)
							</span>
                        </div><!---/titulo_conteudo---->
                        
                        <div id="0" class="conteudos_">
                            <div class="conteudos_2">
                                <p class="MsoNormal" style="text-align: justify;">
                                    A Toxina Botulínica atua impedindo a contração dos músculos faciais que dão origem
                                    às rugas. Com a interrupção da contração, ocorre o relaxamento muscular e as rugas
                                    se atenuam. Os principais locais da face onde pode ser utilizada são a região frontal                                                                                 (testa), a glabela (entre os supercílios) e região peri-orbitária ("pés de galinha").
                                </p>
                            </div><!---/conteudos_2---->
							<div class="width-100-l" style="margin:15px 0 15px 0">
								<div class="width-33-l">
									<img class="width-100-l" src="img/tratamentos/tratamento.jpg" />
								</div>
								<div class="width-33-l">
									<img class="width-100-l" src="img/tratamentos/tratamento.jpg" />
								</div>
								<div class="width-33-l">
									<img class="width-100-l" src="img/tratamentos/tratamento.jpg" />
								</div>
							</div>
							<div class="width-100-l">
								<p>O que gostaria de saber sobre o tratamento ?</p>
								<textarea name="informacoes" class="width-100-l"></textarea>
								<div class="btn-novo-cadastro width-100-l" ng-click="cadastrar()">
									<div class="btn-formulario  width-95 margin-auto">Enviar</div>
								</div>
							</div>
                        </div><!---/conteudos_---->
                    </div>
                    
                    <div class="back_branco_1 branco" onclick="abre(1)">
                        <div class="titulo_conteudo_tratamento">
							<span class="nome-tratamento">
								Ácido Hialurônico (restylane, teosyal, juvederm)
							</span>
                        </div><!---/titulo_conteudo---->
                        <div id="1" class="conteudos_">
                            <div class="conteudos_2">
                                
                                <p>O Ácido Hialurônico é uma substância produzida naturalmente 
                                    pelo corpo e tem a capacidade de se ligar a moléculas de água, hidratando 
                                    e dando volume à pele. Ele que define o contorno facial, proporciona lábios 
                                    mais volumosos e também pode suavizar linhas e rugas, realçando sua beleza natural 
                                    com resultados imediatos. Indicado para&nbsp;tratamento de sulcos e rugas, contorno dos
                                    lábios, rugas peri-orais e olheiras.
                                </p>
                            </div><!---/conteudos_2---->
                            <div class="width-100-l" style="margin:15px 0 15px 0">
								<div class="width-33-l">
									<img class="width-100-l" src="img/tratamentos/tratamento.jpg" />
								</div>
								<div class="width-33-l">
									<img class="width-100-l" src="img/tratamentos/tratamento.jpg" />
								</div>
								<div class="width-33-l">
									<img class="width-100-l" src="img/tratamentos/tratamento.jpg" />
								</div>
							</div>
							<div class="width-100-l">
								<p>O que gostaria de saber sobre o tratamento ?</p>
								<textarea name="informacoes" class="width-100-l"></textarea>
								<div class="btn-novo-cadastro width-100-l" ng-click="cadastrar()">
									<div class="btn-formulario  width-95 margin-auto">Enviar</div>
								</div>
							</div>
                        </div><!---/conteudos_---->
                    </div>
                    
                    
                    <div class="back_branco_2 branco"  onclick="abre(2)">
                        <div class="titulo_conteudo_tratamento">
							<span class="nome-tratamento">
								Hidroxiapatita de Cálcio (radiesse)
							</span>
                        </div><!---/titulo_conteudo---->
                        <div id="2" class="conteudos_">
                            <div class="conteudos_2">
                                
                                <p>O Radiesse é um composto de hidroxiapatita de cálcio (componente do próprio organismo), 
                                    que injetado na pele produz volume e ao mesmo tempo induz o organismo a produzir colágeno,
                                    preenchendo e corrigindo sulcos e depressões decorrentes do envelhecimento cutâneo.
                                </p>
                            </div><!---/conteudos_2---->
                            <div class="width-100-l" style="margin:15px 0 15px 0">
								<div class="width-33-l">
									<img class="width-100-l" src="img/tratamentos/tratamento.jpg" />
								</div>
								<div class="width-33-l">
									<img class="width-100-l" src="img/tratamentos/tratamento.jpg" />
								</div>
								<div class="width-33-l">
									<img class="width-100-l" src="img/tratamentos/tratamento.jpg" />
								</div>
							</div>
							<div class="width-100-l">
								<p>O que gostaria de saber sobre o tratamento ?</p>
								<textarea name="informacoes" class="width-100-l"></textarea>
								<div class="btn-novo-cadastro width-100-l" ng-click="cadastrar()">
									<div class="btn-formulario  width-95 margin-auto">Enviar</div>
								</div>
							</div>
                        </div><!---/conteudos_---->
                    </div>
                    
                </div>
            </div>
		</div>
    </div>
</div>