<!-- contato.html -->
<div class="width-100-l text-c height-100">
	<div class="width-100-l">
        <img src="img/logo-home.png" alt="Clínica Dr. Josenildo Rodrigues" class='logo-home'/>
	</div>
    <div class="width-80 margin-auto">
        <div class="titulo-principal">
            <h1 class="titulo-formularios">Lista de tratamentos</h1>
        </div>
    </div>
    
    
    <div class="width-80 margin-auto">
        <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form font-bold">Estética Facial  </h1>
                </div>
                
		</div>
    </div>
</div>