<!-- contato.html -->
<div class="width-100-l text-c height-100">
	<div class="width-100-l">
        <img src="img/logo-home.png" alt="Clínica Dr. Josenildo Rodrigues" class='logo-home'/>
	</div>
    <div class="width-80 margin-auto">
        <div class="titulo-principal">
            <h1 class="titulo-formularios">Formulário - Tratamentos</h1>
        </div>
    </div>
    
    <div class="width-80 margin-auto">
         
        <div class="width-100-l back-white-margin padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Já fez depilação a Laser?  </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="depilacao-laser" id="squaredFour" name="check" checked />
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="depilacao-laser" id="squaredFour" name="check"  />
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
        <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Você gostaria de conhecer os beneficios da toxina botulinica?  </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="toxina" id="squaredFour" name="check" checked />
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="toxina" id="squaredFour" name="check"  />
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
        
         <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Já realizou ou conhece o tratamento com preenchimento?  </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="tratamento-preenchimento" id="squaredFour" name="check" checked />
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="tratamento-preenchimento" id="squaredFour" name="check"  />
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
        
         <div class="width-100-l back-white padding-bottom">
                <div class="width-50-l width-640-px">
                    <h1 class="texto-int-form">Você já conhece nossas técnicas de rejuvenescimento facial a laser?  </h1>
                </div>
                <div class="width-50-l width-640-px ">
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="rejuvenescimento" id="squaredFour" name="check" checked />
                              <label for="squaredFour">Sim</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                    <div class="width-50-l ">
                        <section title=".squaredFour">
                        <!-- .squaredFour -->
                            <div class="squaredFour">
                              <input type="checkbox" value="rejuvenescimento" id="squaredFour" name="check"  />
                              <label for="squaredFour">Não</label>
                            </div>
                        <!-- end .squaredFour -->
                      </section>
                    </div>
                </div>
		</div>
        
        
        <div class="width-100-l back-white padding-bottom">
			<div class="width-50-l width-640-px ">
				<h1 class="texto-int-form">Você gostaria de fazer tratamentos estéticos? </h1>
			</div>
			<div class="width-50-l width-640-px ">
                
                <div class="width-25-l width-768-50l border-white"></div>
                
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="checkbox" value="tratamento-estetico" id="squaredFour" name="check" checked />
                          <label for="squaredFour">Facial</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
				<div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="checkbox" value="tratamento-estetico" id="squaredFour" name="check"  />
                          <label for="squaredFour">Corporal</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                <div class="width-25-l width-768-50l">
                    <section title=".squaredFour">
                    <!-- .squaredFour -->
                        <div class="squaredFour">
                          <input type="checkbox" value="tratamento-estetico" id="squaredFour" name="check"  />
                          <label for="squaredFour">Nenhum</label>
                        </div>
                    <!-- end .squaredFour -->
                  </section>
                </div>
                
			</div>
		</div>
        
        
        <div class="btn-novo-cadastro float-l btn-back-color" ng-click="tratamentosLista()">
                <div class="btn-formulario">Ver lista de Tratamentos</div>
        </div>
    </div>
</div>